*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body{
  height: 100%;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgba(68, 88, 119, 1);
  background-color: rgba(238, 238, 247, 1);
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

.content{
  flex: 1 0 auto;
  min-height: 82vh;
}

/* header section begins */

header{
  padding: 20px 35px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  background-image: url(./assets/images/hero-pic.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
}

header h2{
  opacity: 0;
}

header nav{
  margin: 7px 0;
}

header a{
  text-decoration: none;
  color:rgb(0, 0, 0);
  
}

header nav ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
}

header nav ul li a{
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.4rem;
  margin: 5px;
  background-color: rgba(238, 238, 247, 0.815);
  border-radius: 10px;
}

header nav ul li a:hover{
  border-radius: 0;
  background-color: black;
  color: rgba(238, 238, 247, 0.815);
  transition: 1s;
}

header nav ul li a:focus{
  border-radius: 0;
  background-color: black;
  color: rgba(238, 238, 247, 0.815);
}

/* header section ends */

/* code for all sections begins here */

section{
  padding: 60px;
}

section h2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 30px 0;
  text-decoration: line-through;
}

img{
  width: 100%;
  height: 100%;
}

/* code for all sections ends here */

/* hero section begins */

.hero {
  background-image: url(./assets/images/hero-pic.jpg);
  background-size: cover;
  background-position: 80%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  color: rgb(0, 0, 0);
  background-attachment: fixed;
}

.hero-logo{
  margin-top: 15%;
  margin-bottom: 15%;
}

.hero h1{
  font-size: 50px;
  font-weight: lighter;
  background-color: rgba(238, 238, 247, 0.815);
  border-radius: 10px;
  padding: 0 10px 0 10px;

  overflow: hidden;  /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: transparent }
}

.hero h3{
  font-size: x-large;
}

/* hero section ends */

/*About me section ends*/

.about-me-info{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container{
  max-width: 400px;
  max-height: 400px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.image-container img{
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 10%;
}


.about-me-info p{
  width: 50%;
}

/*About me section end*/

/* Work section begins */


.grid-container{
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  grid-auto-flow: dense;
  grid-template-columns: repeat(11, 1fr);
  grid-auto-rows: minmax(150px, 1fr);
  background-blend-mode: soft-light;
}

.grid-item {
  grid-column: span 3;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 0 0 30px 0; */
  justify-content: space-evenly;
  text-decoration: none;
  border-radius: 10%;
  color: rgba(238, 238, 247, 1);
  
}

.grid-item:hover{
  border: 8px solid rgba(68, 88, 119, 1);
  box-shadow: inset 0 0 40px #000000;
  transition: .4s;
  
}

.project-name {
  background-color: rgba(68, 88, 119, 0.5);
  padding: 0 10px 0 10px;
  border-radius: 10%;
  text-align: center;
}

.project-name:hover{
  background-color: rgba(68, 88, 119, 1);
  transition: .4s;
}

.grid-buttons{
  display: flex;
  justify-content: space-between;
  width: 220px;
  background-color: transparent;
  
}

.grid-buttons a {
  background-color: rgb(0, 255, 255, .5);
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
}

.grid-buttons a:hover{
  background-color: rgb(0, 255, 255, 1);
  transition: .4s;
}

.run-buddy{
  background-image: url(./assets/images/02-run-buddy.jpg);
  background-size: cover;
  grid-column: 1 / span 3;
  grid-row: 1 / span 2;
}

.poke-parte{
  background-image: url(./assets/images/poke-parte.PNG);
  background-size: cover;
  grid-column: 5 / span 3;
  grid-row: 1 / span 2;
  
}

.budget-tracker{
  background-image: url(./assets/images/love-lorena.JPG);
  background-size: cover;
  grid-column: 9 /span 3;
  grid-row: 1 /span 2;
}

.weather-dash{
  background-image: url(./assets/images/weather-dash.PNG);
  background-size: cover;
  grid-column: 3 /span 3;
  grid-row: 3 / span 2;
}

.token-train{
  background-image: url(./assets/images/token-train.JPG);
  background-size: cover;
  grid-column: 7 /span 3;
  grid-row: 3 / span 2;
}



/* Work section ends */




/* Contact section begins */

.contact-container{
  display:flex;
  justify-content: space-evenly;
  
}

.contact-container div h3{
  text-align: center;
}

.contact address{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.contact address a img{
  width: 20px;
  margin: 20px;
}


.contact-form input, .contact-form textarea{
  border: 1px solid #024e76;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: #024e76;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 5px;
  border-radius: 10px;
  background-color: rgba(255,255,255, 0.75);
}

.contact-form input:focus, .contact-form textarea:focus{
  background-color: rgba(255,255,255, 1);
}

.contact-form button{
    width: 100%;
    border: none;
    background: rgba(68, 88, 119, 1);
    color: rgba(238, 238, 247, 1);
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    border-radius: 10px;
}


.contact-form button:hover{
  color: rgba(238, 238, 247, 1);
  background: rgb(76, 76, 80);
}

/* contact section ends */

/*Skills Section Begins*/

.proficiencies{
  background-color: rgba(238, 238, 247, 0.815);
  border-radius: 20px;
  padding: 40px 40px 40px 40px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.proficiencies h3{
  margin-bottom: 20px;
}

.skills-list{
  list-style-type: none;
  display: grid;
  grid-template-columns: 85px 85px 85px;
  grid-template-rows: 85px 85px 85px 85px;
  column-gap: 10px;
  row-gap: 15px;
}

/* footer section begins */

footer{
  display:flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: rgba(68, 88, 119, 1);
  color:rgba(238, 238, 247, 1);
  flex-shrink: 0;
  text-align: center;
}

footer h2{
  margin-left: 20px;
}

footer p{
  margin-right: 20px;
}

/*footer ends*/

/* MEDIA QUERY FOR SMALL SCREENS, tablets and below */

@media screen and (max-width: 1024px){

  header{
    justify-content: center;
    background-position: 28%;
  }

  .hero{
    background-position: 28%;
    height: 80vh;
  }

  .hero-logo{
    margin-top: 40%;
  }

  .about-me-info{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-me-info p{
    margin: 20px;
    text-align: center;
  }

  .run-buddy{

    grid-column: 2 / span 4;
    grid-row: 1 / span 2;
  }
  
  .poke-parte{

    grid-column: 7 / span 4;
    grid-row: 1 / span 2;
    
  }
  
  .budget-tracker{

    grid-column: 2 /span 4;
    grid-row: 3 /span 2;
  }
  
  .weather-dash{

    grid-column: 7 /span 4;
    grid-row: 3 / span 2;
  }
  
  .token-train{

    grid-column: 4 /span 5;
    grid-row: 5 / span 2;
  }
}


/* MEDIA QUERY FOR TABLETS AND BELOW*/

  @media screen and (max-width: 735px){

    header{
      justify-content: center;
      background-position: 28%;
    }

    header nav ul li a{
      font-size: 1rem;
      margin: 3px;
    }
    .hero{
      background-position: 28%;
    }
    .about-me-info p{
      width: 100%;
    }
    .run-buddy{

      grid-column: 2 / span 9;
      grid-row: 1 / span 2;
    }
    
    .poke-parte{
  
      grid-column: 2 / span 9;
      grid-row: 3 / span 2;
      
    }
    
    .budget-tracker{
  
      grid-column: 2 / span 9;
      grid-row: 5 /span 2;
    }
    
    .weather-dash{
  
      grid-column: 2 / span 9;
      grid-row: 7 / span 2;
    }
    
    .token-train{
  
      grid-column: 1 / span 11;
      grid-row: 9 / span 2;
    }


    .contact-container{
        flex-direction: column;
    }

      .contact-container p{
        text-align: center;
   }

      .contact-form{
        margin-top: 40px;
      }
  }

  /* MEDIA QUERY FOR MOBILE DEVICES */

  @media screen and (max-width: 450px){
      header{
          padding: 0;
          flex-wrap: wrap;
          background-color: rgba(238, 238, 247, 1);
          background-image: none;
      }
      header nav ul li a{
        margin: 1px;
        padding: 5px 10px;
      }

      header nav ul{
        flex-wrap: wrap;
        justify-content: space-around;
      }

      .hero-logo{
        margin-top: 50%;
      }

      .hero{
        height: 100vh;
      }

      .hero h1{
        font-size: 35px;
      }

      .proficiencies{
        padding: 10px 40px 10px 40px;
      }

      .run-buddy{

        grid-column: 1 / span 11;
        grid-row: 1 / span 2;
      }
      
      .poke-parte{
    
        grid-column: 1 / span 11;
        grid-row: 3 / span 2;
        
      }
      
      .budget-tracker{
    
        grid-column: 1 / span 11;
        grid-row: 5 /span 2;
      }
      
      .weather-dash{
    
        grid-column: 1 / span 11;
        grid-row: 7 / span 2;
      }
      
      .shop-shop{
    
        grid-column: 1 / span 11;
        grid-row: 9 / span 2;
      }
  

      footer{
        flex-direction: column;
      }

      footer h2{
        margin-left: 0;
        margin-top: 10px;
      }

      footer p{
        margin-right: 0;
      }
  }
